<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name = "author" content = "creator"/>
        <meta name = "description" content="Create, Retreive, Update and Delete words"/>
        <meta name = "robots" content="index, nofollow"/>
        <meta name = "keywords" content = "bottle, bottlepy, words, dictionary, crud, python, bulma, bulmacss, css"/>
        <meta name = "revised" content = "Basic CRUD, 24/1/2021"/>
        <meta name = "copyright" content = "Author"/>
        <meta name = "DC.title" content = "This Will Do"/>

        <link id="favicon" rel="shortcut icon" type="image/jpeg" href="static/bottle.jpeg">
        <link rel="stylesheet" href="static/bulma.css">

        <title>{{title or 'My Website'}}</title>
    </head>
    <body>
      
        <section class="hero is-link">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Welcome on this BottlePy/BulmaCSS page
                </h1>
                <hr>
                <h2 class="subtitle">
                  <a class="button" href="/">Dictionary</a>  
                  <a class="button" href="/create">Add Word</a>
                </h2>
              </div>
            </div>
          </section>

        <section class="section is-grey-lighter">
            <div class="container">
                {{!base}}
            </div>
        </section>

    </body>
</html>